* {
    box-sizing:border-box;
}

body{
    display: flex;
    align-items: center;  
    margin: 0; 
    background-color: white;
    background-repeat: no-repeat;
    background-size: cover;    
    background-position: center;
    background-attachment:fixed;
    align-content: center;
    isolation: isolate;
    overflow: hidden;
}

img {
    max-width:100%;
}

.navbar {
  overflow: hidden;
  position: fixed;
  color: black;
  top:0px;
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 28px;
  font-style: normal;
  width: 50vw;
}

.navbar .name {
  font-size: 45px;
  color: black;
  text-align: center;
  padding: 20px 34px;
  text-decoration: none;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 28px;
  font-style: normal;
  font-weight: bold;
}

.navbar a {
  float: left;
  color: black;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

button{
    font-family: Arial, Helvetica, sans-serif;
    font-style: normal;
    font-size: 28px;
    color:black ;
    width: 15.5vw;
    height: 7vh;
    background: none;
    border: none;
}

button:active {
    width: 15.5vw;
    height: 7vh;
    background: white;
    color: black;
}

.left{
    width: 50vw;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.instructions {
    font-family: Arial, Helvetica, sans-serif;
    font-style: normal;
    font-size: 22px;
    color: black ;
    padding: 20px;
    width: 48vw;
    display: flex;
    flex-direction: column;
    margin-bottom: 556px;
}

.vinyls {
    position: fixed;
    width: 24vw;
    height: 24vh;
    justify-content: center;
    align-items: center;
    display: none;
    mix-blend-mode: multiply;
    margin-bottom: 60px;
    left: 13vw;
}

.center {
    width: 50vw;
    display: flex;
    align-items: center;
    justify-content:space-between;
    flex-direction: column;
    position: fixed;
    bottom: 403px;
    gap: 10px;
}

.center-top{
    display: flex;
    justify-content: space-between;
    gap:10px;
    margin-bottom: 149px;
}

.center-bottom {
    display: none;
    display: flex;
    justify-content:center;
    flex-direction: column;
}

.right {
    width: 50vw;
    right:0px;
    display:flex;
    overflow: hidden;
}

.controls{
    display: flex;
    font-family: Arial, Helvetica, sans-serif;
    font-style: normal;
    font-size: 17px;
    padding: 20px;
    color:black ;
    width: 45vw;
    margin-bottom: -660px;

}

.red:active {
    color: red;
    background-color:white;
}

.red:hover {
    color:red;
}

.green:active {
    color: rgb(0, 255, 0);
    background-color:white;
}

.green:hover {
    color: rgb(0, 255, 0);
}

.blue:active {
    color: blue;
    background-color:white;
}

.blue:hover {
    color: blue;
}

.red-controls {
    display: none;
    background-color: rgb(0, 174, 239);
}

.blue-controls {
    display: none;
    background-color: rgb(255, 242, 0);
}

.green-controls {
    display: none;
    background-color: rgb(236, 0, 140);
}

.reveal {
    display: block;
}
